
$theme-colors: (
    "black": #000,
    "grey": #999,
    "light-grey": #F6F6F8,
    "blue_main":  #4985FF,
    "light-blue":  rgba(190, 190, 190, 0.116),
);

$line-grey : #E0E0E0;

.bg-blue-block { 
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
    height: 450px;
    position: absolute;
    z-index: -1; 
}

$enable-responsive-font-sizes: true;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap&subset=cyrillic');


@import '../node_modules/bootstrap/scss/bootstrap.scss'; 