
.line-header::after{ 
            content: "";
            width: 100%;
            height: 2px;
            background: #A1A1A1;
            display: none; 
            z-index: 1;
            opacity: 0.5;
}
@media screen and ( min-width: 992px) { 
    .line-header::after{ 
        display: block; 
}
}
.nv-bar { 
    .active { 
        position: relative;
        &::after { 
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background: rgb(255, 255, 255);
            display: block;
            bottom: -12px;
            left: 0;
            right: 0;
           
        }
       
    }
   a { 
        color: rgb(255, 255, 255) !important; 
        font-weight: 500;
        font-size: 1em;
        margin-right: 15px;
        &:hover{ 
            color: #4985FF !important;
        }
   } 
}
.wrap { 
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.411) !important;
    width: 100%;
    min-height: 100vh; 
    // z-index: 10;
}
.height-vh { 
    height: 100vh;
}
.main-page { 
    color: #fff;
    width: 60%; 
    
    margin: 0 auto ;
    h1 { 
        font-size: 3em;
        font-weight: 800;
        line-height: 64px;
        text-align: center;
        // white-space: nowrap;
    }
    span { font-weight: 500 !important;}
    a { font-weight: 500 !important;}
}

header { 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#img-poster { 
    z-index: 0;
} 
#video-poster { 
    z-index: 0;
}