.section { 
    padding-top: 100px;
    padding-bottom: 100px;
} 
.featured-item { 
    >span { 
        >span { 
        display: flex; 
        justify-content: center;
        margin: 15px;
        border: #4985FF 1px solid;
        border-radius: 100%;
        min-width: 80px;
        height: 80px;
        img { 
            transform: translateX(-3px);
             } 
        }
        display: flex; 
        justify-content: center;
        align-items: center;
        border: #E0E0E0 1px solid;
        border-radius: 100%;
        min-width:100px;
        height: 100px;
          
    }
}
.featured-text { 
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 30px;
    h5 { 
        color: #000; 
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }
    p { 
        
        font-size: 14px;
        line-height: 22px;
        color: #999999;
    }
}